body{
    background-color:#548687;
    text-align:center;}
.container {
    height: 70vh;
    display: flex;
    /*without it the justify-content: center;
    align-items: center; will not work*/
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*for horizontal alignment*/
    align-items: center;
    /*for vertical alignment*/
    gap: 1.5vmin;
}
.box
{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow:0 0 1rem red; 
    font-size:8vmin;
    background-color:#ffffc7;
}
#reset-btn 
{
    padding:1rem;
    font-size:1.24rem;
    background-color:#191913; 
    color:#fff;
    border-radius:1rem;
    border:none;
}
